 <!-- ABOUT ME -->
    <div class="container-fluid" id="about">
        <div class="row pt-5 ml-2">
            <div class="col-6">

                <div id="skills">
                    <div class="row mt-2">
                        <div class="col-12" id="skills_titulo">
                            <h3 class="text-muted text-center font-italic"><strong>Developer <code>Skills</code> </strong></h3>
                        </div>
                        <div class="col-12 card-body" id="skills_barras">

                            <div class="progress mb-2">
                                <div class="progress-bar bg-primary" role="progressbar" style="width:50%"> HTML5 - 50%</div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width:50%">CSS3 - 50%</div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-info" role="progressbar" style="width:80%">Bootstrap - 80%</div>
                            </div>
                            <hr>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:90%"> JS - 90%</div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-danger" role="progressbar" style="width:60%"><strong>Angular - 60%</strong></div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width:60%; color:black"><strong>NodeJS - 60%</strong></div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-light" role="progressbar" style="width:60%; color:blue"><strong>ReactJS - 60%</strong></div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width:60%; color:white"><strong>MongoDB - 60%</strong></div>
                            </div>
                            <hr>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-primary" role="progressbar" style="width:60%; color:red"><strong>JAVA- 60%</strong></div>
                            </div>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width:60%; color:white"><strong>Android - 60%</strong></div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-12" id="skills_resumen">
                            <h5>Some skills</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga libero inventore error omnis, tempora sunt numquam facere corrupti tempore quia saepe reiciendis dicta ullam nostrum dolor dolore culpa, illum molestias.</p>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>

            <div class="col-12 col-sm-6">


                <div id="works">
                    <h3 class="text-muted text-center font-italic"><strong>Work <code>Experience</code> </strong></h3>
                    <div class="row">
                        <div class="col-12 col-md-12 col-xl-6 mt-2">
                            <a href="cripto_page/criptomonedas.html"><img class="img-fluid rounded" src="public/assets/img/design1.jpg" width="400px" height="400px" alt=""></a>
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <a href="#"><img class="img-fluid rounded" src="img/design2.jpg" width="400px" height="400px" alt=""></a>
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <a href="#"><img class="img-fluid rounded" src="img/design3.jpg" width="400px" height="400px" alt=""></a>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6 mt-2">
                            <a href="#"><img class="img-fluid rounded" src="img/design4.jpg" width="400px" height="400px" alt=""></a>
                        </div>
                    </div>



                    <hr>
                </div>

            </div>

        </div>
    </div>