   <!-- FOOTER -->
    <footer>
        <div class="container-fluid">
            <div class="row justify-content-center bg-dark text-white pt-4 pb-4">
                <div class="col mt-4">
                    <p>Designed and built with all the love in the world. 
                        Code licensed<a href="https://creativecommons.org/licenses/by/3.0/"><span class="badge badge-dark display-4">MIT</span></a>, docs BY 3.0.
                    </p>
                    
                </div>

            </div>
        </div>
    </footer>

