<!-- SIDENAV LATERAL -->
    <div class="sidenav fixed-top">
        <a href="#home" id="sideNav_Home" class="sidenavAction">Home<h2 id="sideNav_H">H</h2></a>
        <a href="#about" id="sideNav_About" class="sidenavAction" onmouseover="sidenavAccionOver(event)" onmouseout="sidenavAccionOut(event)">About<h2 id="sideNav_A">A</h2></a>
        <a href="#contact" id="sideNav_Contact" class="sidenavAction"><small>Contact</small><h2 id="sideNav_C">C</h2></a>
    </div>